fuzzywuzzy==0.8.0
gensim==0.12.2
joblib==0.8.4
langid==1.1.6
nltk==3.0.3
numpy==1.11.1
openpyxl==2.3.3
pandas==0.17.0
setuptools==27.1.2
ujson==1.35
constraints==0.9.5
inflect==0.2.5
msgpack_python==0.4.8
rauth==0.7.2
regex==2016.08.27
Requests==2.11.1
scikit_learn==0.18rc2
vaderSentiment==0.5
